<%- include('partials/header') %>
<div class="container mx-auto mt-4 p-6 bg-gray-100 rounded-lg shadow-md">
    <h1 class="text-4xl font-bold mb-4">Users Management!</h1>
    <p class="text-lg mb-4">Manage user sessions, tokens and user state!</p>
    <hr class="border-t border-gray-300 mb-4">
    <p class="text-base mb-4">Start by searching a user or viewing the user list.</p>
    <a class="bg-blue-500 text-white py-2 px-4 rounded mr-2 hover:bg-blue-700" href="/user-search" role="button">Search Users</a>
    <a class="bg-gray-500 text-white py-2 px-4 rounded hover:bg-gray-700" href="/users" role="button">View Users</a>
</div>
<%- include('partials/footer') %>
