
<%- include('partials/header') %>
<div class="jumbotron">
    <h1 class="display-4">Welcome to Auth0 Management!</h1>
    <p class="lead">Manage user sessions and tokens effectively.</p>
    <hr class="my-4">
    <p>Start by searching a user or viewing the user list.</p>
    <a class="btn btn-primary btn-lg" href="/user-search" role="button">Search Users</a>
    <a class="btn btn-secondary btn-lg" href="/users" role="button">View Users</a>
</div>
<%- include('partials/footer') %>
